.profileImage {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  object-fit: cover; 
  position: absolute;
  top: 0; 
  left: 0; 
}
.profile-pic-container {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.invoice-form-container {
    padding-left: 20px; 
  }

  