.profile-pic {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0; 
    left: 0; 
  }
  .profile-pic-container {
    position: relative;
  }
  .invoice-form-container {
    padding-left: 20px; /* Add space to the left of the form container */
  }
  
  