    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

    
    <h2 class="text-center">Update Data</h2>

    <div class="container">
      <div class="container-center">
        <button class="btn btn-outline-primary" (click)="generatePDF()"> Generate PDF </button>
      </div>
    </div>
    <br><br>
    
    <div class="container">
      <form class="form" [formGroup]="form">
        <div class="row">
          <!-- Image display section -->
        <div class="col-md-3">
          <div class="d-flex align-items-center justify-content-center profile-pic-container me-5">
            <div class="image" (mouseover)="showEdit = true" (mouseleave)="showEdit = false">
              <!-- Add an img tag to display the selected image -->
              <img [src]="imageSrc" class="profileImage circular-image" alt="Selected Profile Pic"
                style="cursor:pointer; max-width: 250px; height: 250px" class="rounded-circle" (click)="fileInput.click()">

              <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">

              <div class="overlay" *ngIf="showEdit">
                <i class="bi bi-pencil-square" style="font-size: 24px"></i>
                <span style="font-size: 24px;">Edit</span>
              </div>

            </div>
          </div>
        </div> 
          <!-- End of Image display section -->
    
          <!-- Invoice Details -->
          <div class="col-md-9">
            <!-- Left text boxes for invoice details -->
            <div class="row">
              <div class="col-md-5">
                <div class="mb-3">
                  <label for="textBox2" class="form-label">Cashier Name</label>
                  <input type="text" formControlName="cashierName" class="form-control" id="textBox2" placeholder="Enter Cashier Name.">
                  <div *ngIf="form.controls['cashierName'].invalid && form.controls['cashierName'].touched" class="text-danger">
                    Cashier Name is Required.
                  </div>
                </div>
    
                <div class="mb-3">
                  <label for="textBox3" class="form-label">Branch</label>
                  <input type="text" formControlName="branch" class="form-control" id="textBox3" placeholder="Enter Branch Name.">
                  <div *ngIf="form.controls['branch'].invalid && form.controls['branch'].touched" class="text-danger">
                    Branch Name is Required.
                  </div>
                </div>
    
                <!-- Center Selector Box -->
                <div class="mb-3">
                  <label for="textBox6" class="form-label">Center</label>
                  <select formControlName="center" class="form-select" id="textBox6">
                    <option value="">Select center</option>
                    <option value="Ga Mhone Pwint Center">Ga Mhone Pwint Center</option>
                    <option value="Hleden Center">Hleden Center</option>
                    <option value="Junction Square">Junction Square</option>
                    <option value="Junction City">Junction City</option>
                    <option value="City Mall">City Mall</option>
                  </select>
                  <div *ngIf="form.get('center')?.touched && form.get('center')?.errors" class="text-danger">
                    Center is Required.
                  </div>
                  <br>
                </div>
              </div>
    
              <!-- Right text boxes for date and time -->
              <div class="col-md-7">
                <!-- Date Text Box-->
                <div class="mb-3">
                  <label for="textBox4" class="form-label">Date</label>
                  <input type="date" formControlName="date" class="form-control" id="textBox4">
                  <div *ngIf="form.controls['date'].invalid && form.controls['date'].touched" class="text-danger">
                    Date is Required.
                  </div>
                </div>
                <!-- Time Text Box -->
                <div class="mb-3">
                  <label for="textBox5" class="form-label">Time</label>
                  <input type="time" formControlName="time" class="form-control" id="textBox5">
                  <div *ngIf="form.controls['time'].invalid && form.controls['time'].touched" class="text-danger">
                    Time is Required.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Invoice Details -->
    
        <!-- Dynamic Stock Data Section -->
        <div class="container">
          <!-- Add New Rows -->
          <div>
            <button class="btn btn-primary" (click)="addRow()">Add Row</button>
          </div>
          <!-- Add New Rows -->
          <br>
    
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th class="text-start">Stock Name</th>
                <th class="text-start">Stock Price</th>
                <th class="text-start">Stock Quantity</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody formArrayName="stocks">
              <tr *ngFor="let stock of stocks.controls; let i = index" [formGroupName]="i">
                <td class="text-start">
                  <input type="text" class="form-control" formControlName="name" placeholder="Enter Stock Name">
                </td>
                <td class="text-end">
                  <input type="number" class="form-control text-end" formControlName="price" placeholder="Enter Stock Price">
                </td>
                <td class="text-end">
                  <input type="number" class="form-control text-end" formControlName="quantity" placeholder="Enter Stock Quantity">
                </td>
    
                <!-- Inside your *ngFor loop for displaying stocks -->
                <td class="text-end">
                  {{ calculateAmount(stocks.at(i).value) | number:'1.0-0' }} MMK
                </td>
    
                <td class="text-center">
                  <button type="button" class="btn btn-danger" (click)="removeStock(i)">Remove</button>
                </td>
              </tr>
    
              <tr>
                <td colspan="2"></td>
                <td colspan="2" class="text-end"><strong>Total: {{ calculateTotal() | number:'1.0-0' }} MMK</strong></td>
              </tr>
    
            </tbody>
          </table>
    
        </div>
        <!-- Update and Cancel Buttons -->
        <br>
        <div class="col-12 text-start">
          <button type="button" class="btn btn-primary me-2" (click)="update()">Update</button>
          <a href="/result" class="btn btn-danger">Cancel</a>
        </div>
      </form>
    </div>