<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Table</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

 
    <h1 class="text-center "> Stock List </h1>

    <!-- <div class="container">
      <div class="container">
        <button mat-raised-button color="primary" (click)="openDialog()">Add</button>
      </div>
    </div>   -->
  
    <br>

    <!-- Stock Table -->
    <div class="container-fluid">

      <div class="input-group mb-3" style="max-width: 30%">
        <input type="search" id="searchBar" class="form-control narrow-search" placeholder="Type here to Search" [(ngModel)]="filterChange"
        aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary me-3" data-mdb-ripple-init>search</button>
        <button type="button" class="btn btn-success" (click)="generatePDF()"> Generate as PDF </button>
      </div>

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr >
          <th class="text-end">Stock ID</th>
          <th class="text-end">Invoice ID</th>
          <th class="text-end">Name</th>
          <th class="text-end">Quantity</th>
          <th class="text-end">Price</th>
          <th class="text-end">Amount</th>
          <th class="text-center" >Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks | stockFilter : filterChange | paginate : {itemsPerPage: itemsPerPage , currentPage: p }">
          <td class="text-end">{{ stock.stockId }}</td>
          <td class="text-end">{{stock.invoice.invoiceId}}</td>
          <td class="text-end">{{ stock.name }}</td>
          <td class="text-end">{{ stock.quantity | number:'1.0-0' }}</td>
          <td class="text-end">{{ stock.price | number:'1.0-0'}}</td>
          <td class="text-end">{{ stock.amount | number:'1.0-0' }}</td>
  
          <td class="text-center">
            <button class="btn btn-primary me-2" (click)="updateStockData(stock.stockId)" >Update</button>
            <button class="btn btn-danger" (click)="softDeleteStockData(stock.stockId)" >Delete</button>
        </td>
        </tr>
        
      </tbody>
    </table>

    <!-- Data Pagination -->
  <div class="container d-flex justify-content-center mt-8">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
    
  </div>
  <!-- End Stock Table -->
  
</body>
</html>