<!-- Nav Bar
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-center" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-center" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->




<router-outlet></router-outlet>